<div class='container'>
  <h1>Melchi App</h1>

<div class='row'>
  <div class='col-xl-10 col-lg-11'>
<img src="/melchi_happy.jpg" alt="Happy Melchi" class='img-fluid' id='melchi_happy' height=400 width=300>
<img src="/melchi_unhappy.JPG" alt="Unhappy Melchi" class='img-fluid d-none' id='melchi_sad' height=400 width=300>

<p id='happy_melchi_text'>Ryan there's no way you're gonna build this dumb app by 9am tomorrow (May 6th)</p>
<div id='angry_melchi_text' class='d-none'><div>Ugh.  PMs do know something.  Guess I'm gonna have to build this dumb data set thing.</div>
<div>Natasha won't be happy....</div></div>
<button class='btn btn-primary' id='melchi_learns'>PMs know nothing</button>
</div>
</div>
</div>
